
<!-- Navbars -->
<!-- topNavbar -->
<!-- <div class="navbar navbar-app navbar-absolute-top" content-for="topNavbar"> -->
<!-- <div class="navbar navbar-app navbar-absolute-top" xid="topNavbar" content-for="topNavbar"> -->
<!-- <div class="navbar-brand navbar-brand-center" content-for="ttile" yield-to="title">
  <span><b>Risk</b>Log {{ title }}</span>
</div>
 -->
<!-- <div class="btn-group pull-left" content-for="leftNavbarAction">
  <div ng-click="toggle('leftSidebar')" class="btn btn-navbar sidebar-toggle">
    <i class="fa fa-bars"></i> Main
  </div>
</div>
 -->
<!-- <div class="btn-group pull-right" content-for="rightNavbarAction">
  <div ng-click="toggle('rightSidebar')" class="btn btn-navbar">
    <i class="fa fa-comment"></i> Chat
  </div>
</div>
 --><!-- </div>topNavbar -->


<!-- == CONTENT ================================= -->

<div class="scrollable">
	<div class="scrollable-content section">
		<ui-view></ui-view>
	</div>
</div>

<!-- === /CONTENT ================================ -->

